form

<h1>Форма подсчета стоимости проекта.</h1><br><br>

<%= form_tag("sum", method: :get) do %>
  Архитектурный проект <%= check_box_tag 'arch' %><br><br>
  <span class="caption">Фундамент</span><br>
  Площадь <%= number_field_tag 'pl' %> м<sup>2</sup><br><br>
  <%= submit_tag "Sum" %><br>
<% end %>
<%= link_to 'All Posts', posts_path %>
